In [1]:
import pandas as pd

In [5]:
validation_behaviors = pd.read_csv\
('/Users/sumitsidana/Downloads/MIND_news_recommendation_dataset/MINDlarge_dev/behaviors.tsv', delimiter = "\t"\
, names = ['impression_id', 'user_id', 'time', 'history', 'impressions'])

In [6]:
validation_behaviors.head()

,impression_id,user_id,time,history,impressions
0,1,U134050,11/15/2019 8:55:22 AM,N12246 N128820 N119226 N4065 N67770 N33446 N10...,N91737-0 N30206-0 N54368-0 N117802-0 N18190-0 ...
1,2,U254959,11/15/2019 11:42:35 AM,N34011 N9375 N67397 N7936 N118985 N109453 N103...,N119999-0 N24958-0 N104054-0 N33901-0 N9250-0 ...
2,3,U499841,11/15/2019 9:08:21 AM,N63858 N26834 N6379 N85484 N15229 N65119 N1047...,N18190-0 N89764-0 N91737-0 N54368-0 N49978-1 N...
3,4,U107107,11/15/2019 5:50:31 AM,N12959 N8085 N18389 N3758 N9740 N90543 N129790...,N122944-1 N18190-0 N55801-0 N59297-0 N128045-0...
4,5,U492344,11/15/2019 5:02:25 AM,N109183 N48453 N85005 N45706 N98923 N46069 N35...,N64785-0 N82503-0 N32993-0 N122944-0 N29160-0 ...

In [7]:
v_b = validation_behaviors[['impression_id', 'impressions']]

In [11]:
v_b.head()

,impression_id,impressions,predictions
0,1,N91737-0 N30206-0 N54368-0 N117802-0 N18190-0 ...,"[N91737-0, N30206-0, N54368-0, N117802-0, N181..."
1,2,N119999-0 N24958-0 N104054-0 N33901-0 N9250-0 ...,"[N119999-0, N24958-0, N104054-0, N33901-0, N92..."
2,3,N18190-0 N89764-0 N91737-0 N54368-0 N49978-1 N...,"[N18190-0, N89764-0, N91737-0, N54368-0, N4997..."
3,4,N122944-1 N18190-0 N55801-0 N59297-0 N128045-0...,"[N122944-1, N18190-0, N55801-0, N59297-0, N128..."
4,5,N64785-0 N82503-0 N32993-0 N122944-0 N29160-0 ...,"[N64785-0, N82503-0, N32993-0, N122944-0, N291..."

In [53]:
def return_index(lst):
    index_str = '['
    for elem in lst[:-1]:
        index_str = index_str + str(lst.index(elem) + 1)+ ','
    index_str = index_str+ str(lst.index(lst[-1])+1) + ']'
    return index_str

In [54]:
return_index(v_b.loc[0].predictions)

'[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]'

In [10]:
v_b['predictions'] = v_b['impressions'].str.split(' ')

/Users/sumitsidana/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
v_b['indexes'] = v_b['predictions'].apply(lambda x: return_index(x))

/Users/sumitsidana/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
v_b.head()

,impression_id,impressions,predictions,indexes
0,1,N91737-0 N30206-0 N54368-0 N117802-0 N18190-0 ...,"[N91737-0, N30206-0, N54368-0, N117802-0, N181...","[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]"
1,2,N119999-0 N24958-0 N104054-0 N33901-0 N9250-0 ...,"[N119999-0, N24958-0, N104054-0, N33901-0, N92...","[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,..."
2,3,N18190-0 N89764-0 N91737-0 N54368-0 N49978-1 N...,"[N18190-0, N89764-0, N91737-0, N54368-0, N4997...","[1,2,3,4,5,6,7,8]"
3,4,N122944-1 N18190-0 N55801-0 N59297-0 N128045-0...,"[N122944-1, N18190-0, N55801-0, N59297-0, N128...","[1,2,3,4,5,6,7,8,9,10]"
4,5,N64785-0 N82503-0 N32993-0 N122944-0 N29160-0 ...,"[N64785-0, N82503-0, N32993-0, N122944-0, N291...","[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,..."

In [48]:
import evaluate

In [57]:
v_b[['impression_id', 'indexes']].to_csv('test_submission.csv', index = False, header = None, sep = ' ')