In [5]:
import pandas as pd

In [14]:
import evaluate

In [6]:
validation_behaviors = pd.read_csv\
('/Users/sumitsidana/Downloads/MIND_news_recommendation_dataset/MINDlarge_dev/behaviors.tsv', delimiter = "\t"\
, names = ['impression_id', 'user_id', 'time', 'history', 'impressions'])

In [7]:
validation_behaviors.head()

,impression_id,user_id,time,history,impressions
0,1,U134050,11/15/2019 8:55:22 AM,N12246 N128820 N119226 N4065 N67770 N33446 N10...,N91737-0 N30206-0 N54368-0 N117802-0 N18190-0 ...
1,2,U254959,11/15/2019 11:42:35 AM,N34011 N9375 N67397 N7936 N118985 N109453 N103...,N119999-0 N24958-0 N104054-0 N33901-0 N9250-0 ...
2,3,U499841,11/15/2019 9:08:21 AM,N63858 N26834 N6379 N85484 N15229 N65119 N1047...,N18190-0 N89764-0 N91737-0 N54368-0 N49978-1 N...
3,4,U107107,11/15/2019 5:50:31 AM,N12959 N8085 N18389 N3758 N9740 N90543 N129790...,N122944-1 N18190-0 N55801-0 N59297-0 N128045-0...
4,5,U492344,11/15/2019 5:02:25 AM,N109183 N48453 N85005 N45706 N98923 N46069 N35...,N64785-0 N82503-0 N32993-0 N122944-0 N29160-0 ...

In [9]:
v_b = validation_behaviors[['impression_id', 'impressions']]

In [10]:
v_b.head()

   impression_id                                        impressions
0              1  N91737-0 N30206-0 N54368-0 N117802-0 N18190-0 ...
1              2  N119999-0 N24958-0 N104054-0 N33901-0 N9250-0 ...
2              3  N18190-0 N89764-0 N91737-0 N54368-0 N49978-1 N...
3              4  N122944-1 N18190-0 N55801-0 N59297-0 N128045-0...
4              5  N64785-0 N82503-0 N32993-0 N122944-0 N29160-0 ...

In [11]:
def return_index(lst):
    index_str = '['
    for elem in lst[:-1]:
        index_str = index_str + str(lst.index(elem) + 1)+ ','
    index_str = index_str + str(lst.index(lst[-1])+1) + ']'
    return index_str

In [12]:
v_b['predictions'] = v_b['impressions'].str.split(' ')

evaluate.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  #!/usr/bin/env python

In [13]:
v_b['indexes'] = v_b['predictions'].apply(lambda x: return_index(x))

evaluate.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  #!/usr/bin/env python

In [24]:
def get_labels(lst):
    labels_list = '['
    
    for elem in lst[:-1]:
        label = float(elem.split('-')[1])
        labels_list = labels_list + str(label) +","
    last_label = float(lst[-1].split('-')[1])
    labels_list = labels_list + str(last_label)+']'
    return labels_list

In [25]:
v_b['labels'] = v_b['predictions'].apply(lambda x: get_labels(x))

In [26]:
v_b[['impression_id', 'indexes']].to_csv('res/prediction.txt', index = False, header = None, sep = ' ')

In [27]:
v_b[['impression_id', 'labels']].to_csv('ref/truth.txt', index = False, header = None, sep = ' ')

In [1]:
%run -i 'evaluate.py' './' './'

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000

In [31]:
import ast
type(ast.literal_eval(v_b.loc[0].labels)[0])

float